<div class="footer-container">
  <div class="social-media-container">
    <a href="https://www.facebook.com/mostafa.m.sayed.77" target="_blank">
      <div class="facebook">
        <i class="fab fa-facebook-f"></i>
      </div>
    </a>
    <a href="https://www.instagram.com/mostafamahmoud95/" target="_blank">
      <div class="social-media">
        <i class="fab fa-instagram"></i>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/mostafamahmoud25/" target="_blank">
      <div class="social-media">
        <i class="fab fa-linkedin-in"></i>
      </div>
    </a>
    <a href="https://github.com/mostafamahmoud24" target="_blank">
      <div class="social-media">
        <i class="fab fa-github"></i>
      </div>
    </a>
    <a href="https://www.fiverr.com/mostafamahmoud_" target="_blank">
      <div class="social-media">
        <img src="./assets/images/fiverr.png" alt="" class="fiverr-img" />
      </div>
    </a>
    <a
      href="https://www.upwork.com/o/profiles/users/~01fa692a2ae4043c24/"
      target="_blank"
    >
      <div class="social-media">
        <img src="./assets/images/upwork.png" alt="" class="upwork-img" />
      </div>
    </a>
  </div>
  <div class="back-up">
    <a href="#home" pageScroll [pageScrollEasing]="myEasing" class="meteor">
      <i class="fas fa-meteor"></i>
    </a>
    <p class="up-text">Beam me up, Scotty!</p>
  </div>
  <p class="copyright">
    © Mostafa Mahmoud 2020
  </p>
</div>
