<div class="about-container" id="about-container">
  <p class="about-title">A LITTLE BIT ABOUT ME</p>
  <img src="../../assets/images/about.jpg" alt="" class="about-img" />
  <p class="about-paragraph">
    Hey! My name is Mostafa and I'm a Web Developer with a passion for front end
    development and tech. I'm an accounting major graduate fom
    <a href="http://www.asu.edu.eg/" class="paragraph-link"
      >Ain Shams University</a
    >. I'm currently a Web Developer intern at
    <a
      href="https://www.linkedin.com/company/eme-international/about/"
      class="paragraph-link"
      >EME International</a
    >
    aspiring toward a career that will allow me to channel my creativity through
    crafting beautiful software and engaging experiences.
    <br />
    <br />
    When I'm not coding, I enjoy playing soccer, swimming, and gaming.
  </p>

  <div class="tldr-container">
    <h3 class="about-tldr">
      TL;DR? SELF PROCLAMATIONS:
    </h3>
    <div class="icons-container">
      <i class="far fa-keyboard icon"><p class="icon-text">Web Developer</p></i>
      <i class="fas fa-robot icon"><p class="icon-text">Tech Enthusiast</p></i>
      <i class="fas fa-gamepad icon"><p class="icon-text">Gamer</p></i>
    </div>
  </div>
</div>
