<div class="about-container">
  <p class="about-title">A LITTLE BIT ABOUT ME</p>
  <img src="../../assets/images/about.jpg" alt="" class="about-img" />
  <p class="about-paragraph">
    Hey! My name is Mostafa and I'm a Web Developer with a passion for front end
    development and tech. I'm an accounting major graduate pursuing a career in
    software development that will allow me to channel my creativity through
    crafting beatiful software and engaging experiences.
  </p>
  <p class="about-hobby">
    When I'm not on the compputer, I enjoy playing soccer, swimming and gaming.
  </p>
  <p class="about-tldr">
    TL;DR? SELF PROCLAMATIONS:
  </p>
  <div class="about-card">
    <i class="far fa-keyboard">Web Developer</i>
    <i class="fas fa-robot">Tech Enthusiast</i>
    <i class="fas fa-gamepad">Gamer</i>
  </div>
</div>
