.background {
  /* The image used */
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../../assets/images/mount.jpg");

  /* Set a specific height */
  height: 750px;
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: 300;
  padding-top: 20%;
  letter-spacing: 3px;
  animation-name: hero-title;
  animation-duration: 1.1s;
  animation-timing-function: ease-in-out;
}

.hero-subtitle {
  color: #ddd;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
  margin-top: 25px;
  animation-name: hero-subtitle;
  animation-duration: 1.1s;
  animation-timing-function: ease-in-out;
}

.icon {
  text-decoration: none;
  color: #aaa;
  font-size: 30px;
  padding-top: 8%;
  transition: 0.5s;
  animation-name: hero-icon;
  animation-duration: 1.1s;
}

:hover.icon {
  color: #fff;
  transition: 0.5s;
}

@keyframes hero-title {
  from {
    padding-top: 14%;
    opacity: 0;
  }
  to {
    padding-top: 20%;
    opacity: 1;
  }
}

@keyframes hero-subtitle {
  from {
    margin-top: 200px;
    margin-bottom: -10px;
    opacity: 0;
  }
  to {
    margin-top: 25px;
    padding-bottom: 0px;

    opacity: 1;
  }
}
/* @keyframes hero-icon {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 0px;
  }
} */

/* For mobile desktop: */
@media only screen and (max-width: 1600px) {
  .icon {
    text-decoration: none;
    color: #aaa;
    font-size: 30px;
    padding-top: 13%;
  }
  .hero-title {
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 300;
    padding-top: 20%;
    letter-spacing: 3px;
  }
  @keyframes hero-title {
    from {
      padding-top: 14%;
      opacity: 0;
    }
    to {
      padding-top: 20%;
      opacity: 1;
    }
  }
  @keyframes hero-subtitle {
    from {
      margin-top: 200px;
      /* margin-bottom: -8%; */
      opacity: 0;
    }
    to {
      margin-top: 25px;
      padding-bottom: 0px;

      opacity: 1;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .icon {
    text-decoration: none;
    color: #aaa;
    font-size: 30px;
    padding-top: 25%;
  }
  .hero-title {
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 300;
    padding-top: 23%;
    letter-spacing: 3px;
  }
  @keyframes hero-title {
    from {
      padding-top: 11%;
      opacity: 0;
    }
    to {
      padding-top: 23%;
      opacity: 1;
    }
  }
  @keyframes hero-subtitle {
    from {
      margin-top: 200px;
      /* margin-bottom: -46px; */
      opacity: 0;
    }
    to {
      margin-top: 25px;
      padding-bottom: 0px;

      opacity: 1;
    }
  }
}
/* For mobile phones: */
@media only screen and (max-width: 767px) {
  .icon {
    text-decoration: none;
    color: #aaa;
    font-size: 30px;
    padding-top: 27%;
  }
  .hero-title {
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 300;
    padding-top: 30%;
    letter-spacing: 3px;
  }
  @keyframes hero-title {
    from {
      padding-top: 18%;
      opacity: 0;
    }
    to {
      padding-top: 30%;
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 500px) {
  .icon {
    text-decoration: none;
    color: #aaa;
    font-size: 30px;
    padding-top: 27%;
  }
  .hero-title {
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 300;
    padding-top: 45%;
    letter-spacing: 3px;
  }
  @keyframes hero-title {
    from {
      padding-top: 0%;
      opacity: 0;
    }
    to {
      padding-top: 45%;
      opacity: 1;
    }
  }
  @keyframes hero-subtitle {
    from {
      margin-top: 350px;
      /* margin-bottom: -46px; */
      opacity: 0;
    }
    to {
      margin-top: 25px;
      padding-bottom: 0px;

      opacity: 1;
    }
  }
}
