<div class="nav-container">
  <nav style="opacity: 0;">dsfsd</nav>
  <div class="hero-container">
    <p class="greeting">HI, I'M MOSTAFA</p>
    <p class="greeting-subtext">Web Developer & Tech Enthusiast</p>
  </div>
  <div class="arrow-container">
    <a class="arrow" pageScroll [pageScrollEasing]="myEasing" href="#about">
      <i class="fas fa-chevron-down"></i>
    </a>
  </div>
</div>
<nav class="navbar" (scroll)="onWindowScroll($event)" id="navbar">
  <!-- <img
            src="../../assets/images/iconlogo.png"
            alt="logo icon"
            class="nav-img"
          /> -->

  <div class="nav-title-container" id="nav-title-container">
    <p class="nav-title">Mostafa Mahmoud</p>
  </div>
  <div class="nav-links-container" id="nav-links">
    <!-- need to change the hrefs to routeLink -->
    <p href="#" class="nav-links">ABOUT</p>
    <p href="#" class="nav-links">PROJECTS</p>
    <p href="#" class="nav-links">RESUME</p>
    <p href="#" class="nav-links">CONTACT</p>
  </div>
</nav>
<h1 id="about">sdkjfhsdfk</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
<h1>ksajdfh</h1>
