<div class="experience-container">
  <div class="experience-title-container">
    <p class="experience-title">
      EXPERIENCE
    </p>
  </div>
  <div class="experience-text">
    <p>
      I've been doing web development for about 9 months now, and I'm always
      eager to learn more in this fast paced industry.
    </p>
  </div>
  <div class="technologies-title container">
    <div class="row">
      <div class="col-8">
        <p>
          SOME TECHNOLOGIES I'VE WORKED WITH:
        </p>
      </div>
      <div class="col-4">
        <p>
          WHERE I'VE WORKED:
        </p>
      </div>
    </div>
  </div>
  <div class="technologies-container container">
    <div class="row">
      <div class="col-8">
        <div class="col-12">
          <img src="../../assets/images/logos/html.png" alt="" class="html" />
          <img src="../../assets/images/logos/css.png" alt="" class="css" />
          <img
            src="../../assets/images/logos/javascript.png"
            alt=""
            class="javascript"
          />
          <img
            src="../../assets/images/logos/reac1t.png"
            alt=""
            class="react"
          />
          <img
            src="../../assets/images/logos/angular.png"
            alt=""
            class="angular"
          />
          <img
            src="../../assets/images/logos/python.png"
            alt=""
            class="python"
          />
        </div>
        <div class="col-12">
          <img
            src="../../assets/images/logos/laravel.png"
            alt=""
            class="laravel"
          />
          <img src="../../assets/images/logos/php.png" alt="" class="php" />
          <img
            src="../../assets/images/logos/bootstrap.png"
            alt=""
            class="bootstrap"
          />
          <img src="../../assets/images/logos/mysql.png" alt="" class="mysql" />
          <img src="../../assets/images/logos/git.png" alt="" class="git" />
          <img
            src="../../assets/images/logos/github.png"
            alt=""
            class="github"
          />
        </div>
      </div>
      <div class="col-4" style="display: block;">
        <div class="row">
          <div class="col-12">
            <p></p>
          </div>
          <div class="col-12">
            <a href="https://www.linkedin.com/company/eme-international/about/"
              ><img src="../../assets/images/logos/eme.png" alt="" class="eme"
            /></a>
          </div>
          <div class="col-12">
            <a href="https://www.bankfab.com/en-eg"
              ><img src="../../assets/images/logos/fab.png" alt="" class="fab"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
