<div class="contact-container">
  <div class="paper-plane">
    <i class="fas fa-paper-plane"></i>
  </div>
  <div class="text-container">
    <p class="contact-title">
      GET IN TOUCH!
    </p>
    <P class="contact-text">
      Whether you have an idea for a project or just want to chat,
    </P>
    <p>
      feel free to shoot me an email!
    </p>
  </div>
  <div class="button-container">
    <a href="mailto:mostafamahmoud24@gmail.com">
      <button class="contact-button">
        Say Hello
      </button>
    </a>
  </div>
</div>
