.passion-container {
  text-align: center;
  background-color: #f0f0f0;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.passion-component-container {
  display: flex;
  justify-content: space-between;
}

.passsion-title {
  font-size: 30px;
  margin: 0 0 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.icon-container {
  height: 175px;
  width: 175px;
  line-height: 175px;
  margin: 0 auto 40px;
  background: #00009c;
  border-radius: 50%;
}

.passion-component {
  width: 25%;
  height: 500px;
  margin: auto;
  opacity: 0;
}

.design-component {
  width: 25%;
  height: 500px;
  /* background-color: red; */
  margin: auto;
  vertical-align: middle;
  opacity: 1;
  transition-duration: 0.6s;
}
.development-component {
  width: 25%;
  height: 500px;
  /* background-color: red; */
  margin: auto;
  opacity: 1;
  vertical-align: middle;
  transition-duration: 0.8s;
  transition-delay: 0.3s;
}
.knowledge-component {
  width: 25%;
  height: 500px;
  /* background-color: red; */
  margin: auto;
  opacity: 1;
  vertical-align: middle;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.icon {
  color: white;
  font-size: 45px;
  line-height: 175px;
  margin: auto;
  vertical-align: middle;
  text-rendering: auto;
}
:hover.icon-container {
  animation-name: icon;
  animation-duration: 0.7s;
}

.component-title {
  font-weight: 600;
}

@keyframes icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @keyframes component {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/*tablet*/
@media only screen and (max-width: 990px) {
  .passion-component-container {
    display: block;
  }
  .passion-component {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
  }
  .design-component {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: 40px;
    opacity: 1;
    transition-duration: 0.6s;
  }
  .development-component {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: 40px;
    opacity: 1;
    transition-duration: 0.8s;
    transition-delay: 0.3s;
  }
  .knowledge-component {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: 40px;
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.5s;
  }
}

/*mobile*/
@media only screen and (max-width: 600px) {
  .passion-component {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .design-component {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 40px;
    opacity: 1;
    transition-duration: 0.6s;
  }
  .development-component {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 40px;
    opacity: 1;
    transition-duration: 0.8s;
    transition-delay: 0.3s;
  }
  .knowledge-component {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 40px;
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.5s;
  }

  .component-description {
    font-size: 15px;
  }
}
