<div class="passion-container" id="passion">
  <div class="passion-title-container">
    <p class="passsion-title">WHAT I DO</p>
  </div>
  <br />
  <!------------------------------------------------------------------>

  <div class="passion-component-container">
    <div class="passion-component" id="design">
      <div class="icon-container">
        <i class="fas fa-pencil-alt icon"></i>
      </div>
      <p class="component-title">DESIGN</p>
      <P class="component-description"
        >Design isn't just what a product looks like and feels like on the
        outside. Design encompasses the internal functionality of a product as
        well as the overall user experience. I strive to design interfaces and
        experiences that people can enjoy on all digital mediums.</P
      >
    </div>

    <!------------------------------------------------------------------>

    <div class="passion-component" id="development">
      <div class="icon-container">
        <i class="fas fa-code icon"></i>
      </div>
      <P class="component-title">DEVELOPMENT</P>
      <P class="component-description"
        >Being a self-taught developer, I'm very passionate about web design and
        development, I'm also interested in mobile app development. As I grow as
        a developer, I hope to write clean, readable code that can be used by
        others and leveraged to create beautiful software.</P
      >
    </div>

    <!------------------------------------------------------------------>

    <div class="passion-component" id="knowledge">
      <div class="icon-container">
        <i class="fas fa-book icon"></i>
      </div>
      <P class="component-title">KNOWLEDGE</P>
      <P class="component-description"
        >Knowledge is very important especially in the software development
        industry, which is why I'm always striving to increase not only my
        knowledge but also my understanding of new and existing software
        development technologies, concepts as well as best practices.</P
      >
    </div>

    <!------------------------------------------------------------------>
  </div>
</div>
