<hero></hero>
<navbar1 style="position: fixed; top: 0; width: 100%; z-index:1"></navbar1>
<about id="about"></about>
<passion></passion>
<experience id="experience"></experience>
<div id="work"></div>
<work></work>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
