<hero></hero>
<navbar1 style="position: fixed; top: 0; width: 100%"></navbar1>
<about id="about"></about>
<passion></passion>

<h1>mostafa</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
<h1>asjdklfhkasd</h1>
