<nav class="navbar" id="navbar">
  <div class="navbar-title" id="navbar-title">
    <p>Mostafa Mahmoud</p>
    <div class="menu-icon-container" (click)="myFunction()">
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
    </div>
  </div>
  <div class="navbar-links navbar-linkss hidden" id="navbar-links">
    <a
      href="#about"
      class="navbar-link"
      pageScroll
      [pageScrollEasing]="myEasing"
      (click)="myFunction()"
      ><p>ABOUT</p></a
    >
    <a href="#" class="navbar-link"><p>PASSION</p></a>
    <a href="#" class="navbar-link"><p>EXPERIENCE</p></a>
    <a href="#" class="navbar-link"><p>WORK</p></a>
    <a href="#" class="navbar-link"><p>CONTACT</p></a>
  </div>
</nav>

<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1 id="about" style="color: red">kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
<h1>kjsadfhksdjfhk</h1>
