/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
::selection {
  background: rgb(248, 142, 3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(248, 142, 3); /* Gecko Browsers */
}
