/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  /* background: orangered; */
  /* display: block; */
  position: absolute;
  width: 100vw;
}
::selection {
  background: rgb(248, 142, 3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(248, 142, 3); /* Gecko Browsers */
}

p {
  word-wrap: break-word;
}
